@use "@ryanbrandt/react-quick-ui/stylesheets/sass" as rq;
@use "../mixins";

$contact-page-default-row-col-gap: 50px;

.contact-page {
  @include mixins.desktop-only {
    @include mixins.flex--justify-center();
    column-gap: $contact-page-default-row-col-gap;
  }

  @include mixins.mobile-only {
    @include mixins.flex--col--align-center();
    row-gap: $contact-page-default-row-col-gap;
  }

  &__form {
    @include mixins.flex--col();
    width: fit-content;
    row-gap: calc($contact-page-default-row-col-gap / 2);

    &__submit-btn {
      align-self: center;
    }
  }

  &__social-links {
    @include mixins.flex--col--justify-center();
    row-gap: $contact-page-default-row-col-gap;
    padding: 50px;
    border-radius: 10px;
    background: linear-gradient(
      135deg,
      rq.$primary-blue,
      rgb(rq.$primary-blue, 0.3)
    );

    h2 {
      color: rq.$white;
      font-weight: 400;
      align-self: center;
    }

    &__link {
      @include mixins.flex--align-center();
      column-gap: 10px;
      text-decoration: none;
      color: rq.$white;

      &:hover {
        text-decoration: underline;
      }

      svg {
        fill: rq.$white;
      }
    }
  }
}
