@use "@ryanbrandt/react-quick-ui/stylesheets/sass" as rq;
@use "../mixins";
@use "../themes";
@use "../variables";

.work-page {
  @include mixins.flex--col();
  row-gap: calc(variables.$default-row-gap * 2);

  @include mixins.mobile-only {
    align-items: center;
  }

  &__search-filters {
    @include mixins.flex--align-center--justify-space-between();

    &__categories {
      @include mixins.flex--align-center--justify-space-between();
      column-gap: variables.$default-column-gap;
    }
  }

  &__results-display {
    @include mixins.flex();
    flex-wrap: wrap;
    row-gap: variables.$default-row-gap;
    column-gap: variables.$default-column-gap;

    @include mixins.mobile-only {
      flex-direction: column;
    }

    &__result {
      @include mixins.flex--col--align-center();

      @include mixins.desktop-only {
        opacity: 0.5;
        transition: 0.25s ease-out;
      }

      @include mixins.desktop-only {
        &:hover {
          opacity: 1;
          cursor: pointer;
          transition: 0.25s ease-in;
        }
      }

      &__img {
        border-radius: 10px;
        width: 250px;
        height: 200px;
      }

      &__title {
        font-size: 16px;
        padding: 0.5em;
        font-weight: 500;

        @include themes.themed() {
          color: themes.theme-get(themes.$secondary-color);
        }
      }

      &__details-overlay {
        @include mixins.flex--col--align-center();
        width: 100vw;
        height: 100vh;
        border: none;
        overscroll-behavior: contain;

        @include themes.themed() {
          background-color: themes.theme-get(themes.$overlay-color);
        }

        &__title {
          font-weight: 400;
          font-size: 28px;

          @include themes.themed() {
            color: themes.theme-get(themes.$secondary-color);
          }
        }

        &__text {
          color: rq.$dark-gray;
          padding: 1em;
        }

        svg {
          @include mixins.gray-to-primary-blue-icon();
        }

        &__img {
          @include mixins.mobile-only {
            width: 80vw;
            height: 35vh;
          }

          @include mixins.desktop-only {
            width: 45vw;
            height: 50vh;
          }
        }

        &__close {
          align-self: flex-start;
          padding: 1em;
          font-size: 32px;
          font-weight: 400;
          cursor: pointer;
          color: rq.$primary-blue;

          @include mixins.desktop-only {
            opacity: 0.5;
            transition: 0.25s ease-out;

            &:hover {
              opacity: 1;
              transition: 0.25s ease-in;
            }
          }
        }
      }
    }
  }
}
