@use "@ryanbrandt/react-quick-ui/stylesheets/sass" as rq;
@use "variables";

@mixin mobile-only {
  @media only screen and (max-width: 1040px) {
    @content;
  }
}

@mixin desktop-only {
  @media only screen and (min-width: 1041px) {
    @content;
  }
}

@mixin gray-to-primary-blue-icon {
  fill: rq.$dark-gray;
  cursor: pointer;
  width: 36px;
  height: 36px;
  transition: fill variables.$icon-transition ease-out;

  &:hover {
    fill: rq.$primary-blue;
    transition: fill variables.$icon-transition ease-in;
  }
}
