@import "@ryanbrandt/react-quick-ui/dist/stylesheets/index.scss";
@import "@ryanbrandt/react-quick-ui/dist/stylesheets/colors.scss";

@import "./themes.scss";
@import "./variables.scss";
@import "./mixins.scss";

@import "./common/PageContainer.scss";

@import "./App/RootContainer.scss";
@import "./App/AppHeader.scss";
@import "./App/ContentContainer.scss";
@import "./App/AppFooter.scss";

@import "./routes/index.scss";

@import "./Home/LandingPage.scss";

@import "./Contact/ContactPage.scss";

@import "./Resume/ResumePage.scss";

@import "./Work/WorkPage.scss";

html,
body,
#root {
  margin: 0;
  overflow-x: hidden;
}

@include mobile-only {
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 16px;
  }
}
