$project-title-color: rgb($primary-blue, 0.8);

.work-page {
  @include flex--col();

  @include mobile-only {
    align-items: center;
  }

  row-gap: calc($default-row-gap * 2);

  &__search-filters {
    @include flex--align-center--justify-space-between();

    &__categories {
      @include flex--align-center--justify-space-between();
      column-gap: $default-column-gap;
    }
  }

  &__results-display {
    @include flex();

    @include mobile-only {
      flex-direction: column;
    }

    flex-wrap: wrap;
    row-gap: $default-row-gap;
    column-gap: $default-column-gap;

    &__result {
      @include flex--col--align-center();
      opacity: 0.5;
      transition: 0.25s ease-out;

      &:hover {
        opacity: 1;
        cursor: pointer;
        transition: 0.25s ease-in;
      }

      &__img {
        width: 250px;
        height: 200px;
      }

      &__title {
        font-size: 16px;
        padding: 0.5em;
        font-weight: 500;
        color: $project-title-color;
      }

      &__details-overlay {
        @include flex--col--align-center();
        width: 100vw;
        height: 100vh;

        &__title {
          font-weight: 400;
          font-size: 28px;
          color: $project-title-color;
        }

        &__text {
          color: $dark-gray;
          padding: 1em;
        }

        svg {
          @include gray-to-primary-blue-icon();
        }

        &__img {
          @include mobile-only {
            width: 80vw;
            height: 35vh;
          }

          @include desktop-only {
            width: 45vw;
            height: 50vh;
          }
        }

        &__close {
          align-self: flex-start;
          padding: 1em;
          font-size: 32px;
          font-weight: 400;
          cursor: pointer;
          color: $primary-blue;

          @include desktop-only {
            opacity: 0.5;
            transition: 0.25s ease-out;

            &:hover {
              opacity: 1;
              transition: 0.25s ease-in;
            }
          }
        }
      }
    }
  }
}
