$link-hover-transition-time: 0.25s;
$mobile-menu-height-transition-time: 0.2s;
$link-padding: 10px;

@mixin link-active {
  a {
    opacity: 0.5;
    pointer-events: none;
  }
}

.app-header {
  @include flex--align-center();
  width: 100%;
  position: fixed;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  @include themed() {
    background-color: theme-get($primary-color);
  }

  &__theme-toggle {
    cursor: pointer;
    padding: 0px 20px;

    svg {
      @include themed() {
        fill: theme-get($toggle-color);

        @include desktop-only {
          opacity: 0.5;
          transition: opacity 0.25s ease-out;

          &:hover {
            opacity: 1;
            transition: opacity 0.25s ease-in;
          }
        }
      }
    }
  }

  &__menu {
    @include flex--align-center--justify-center();
    height: 100%;
    width: 100%;
    column-gap: 30px;

    &__link {
      @include flex--align-center();
      font-size: 18px;
      font-weight: 400;
      height: 100%;
      padding: 0px $link-padding;

      a {
        cursor: pointer;
        transition: color $link-hover-transition-time ease-out;

        &:hover {
          color: $primary-blue;
          transition: color $link-hover-transition-time ease-in;
        }
      }

      &--active {
        @include link-active();
        border-bottom: 2px solid $primary-blue;
      }
    }
  }

  &__mobile-menu {
    width: 100%;

    svg {
      padding: 0px 20px;
      fill: $primary-blue;
    }

    &__overlay {
      top: 0;
      width: 100%;
      position: fixed;
      color: $primary-blue;
      overscroll-behavior: contain;

      &--closed {
        height: 0%;
        opacity: 0;
        visibility: collapse;
        transition: all $mobile-menu-height-transition-time ease-out;
      }

      &--open {
        @include themed() {
          background-color: theme-get($overlay-color);
        }

        height: 100vh;
        opacity: 1;
        visibility: visible;
        transition: all $mobile-menu-height-transition-time ease-in;
      }

      &__close-btn {
        padding: 20px;
        font-size: 32px;
        font-weight: 400;
      }

      &__link-container {
        @include flex--col--align-center();
        height: 100%;
        row-gap: 10%;
        padding: 50px;

        &__link {
          padding: $link-padding;
          font-size: 24px;
          font-weight: 600;

          @include themed() {
            color: theme-get($secondary-color);
          }

          &--active {
            @include link-active();
            border-bottom: 2px solid rgb($primary-blue, 0.2);
          }
        }
      }
    }
  }
}
