$slide-transition-time: 500ms;

.slide-enter {
  transform: translateY(20%);
  transition: all $slide-transition-time ease-in-out;
  opacity: 0;
}

.slide-enter.slide-enter-active {
  transform: translateY(0%);
  opacity: 1;
  transition: all $slide-transition-time ease-in-out;
}

.slide-exit {
  transform: translateY(0%);
  opacity: 0;
}

.slide-exit.slide-exit-active {
  transform: translateY(-20%);
}
