@mixin mobile-only {
  @media only screen and (max-width: 1040px) {
    @content;
  }
}

@mixin desktop-only {
  @media only screen and (min-width: 1041px) {
    @content;
  }
}

@mixin dark-mode-only {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin flex {
  display: flex;
}

@mixin flex--col {
  @include flex();
  flex-direction: column;
}

@mixin flex--align-center {
  @include flex();
  align-items: center;
}

@mixin flex--align-center--justify-center {
  @include flex--align-center();
  justify-content: center;
}

@mixin flex--align-center--justify-space-between {
  @include flex--align-center();
  justify-content: space-between;
}

@mixin flex--justify-center {
  @include flex();
  justify-content: center;
}

@mixin flex--justify-space-between {
  @include flex();
  justify-content: space-between;
}

@mixin flex--justify-space-evenly {
  @include flex();
  justify-content: space-evenly;
}

@mixin flex--col--align-center {
  @include flex--col();
  align-items: center;
}

@mixin flex--col--align-center--justify-center {
  @include flex--col--align-center();
  justify-content: center;
}

@mixin flex--col--justify-center {
  @include flex--col();
  justify-content: center;
}
