$slide-transition-time: 500ms;

.slide-enter {
  transform: translateY(50%);
}

.slide-enter.slide-enter-active {
  transform: translateY(0%);
  transition: all $slide-transition-time ease-in-out;
}

.slide-exit {
  transform: translateY(0%);
  opacity: 0;
}

.slide-exit.slide-exit-active {
  transform: translateY(-50%);
  opacity: 0;
  transition: all $slide-transition-time ease-in-out;
}
