@use "../tools" as *;

$copy-font-size: 18px;

.landing-page {
  @include flex--column--align-center--justify-center;

  &__copy {
    font-size: $copy-font-size;
    font-weight: 300;

    @include mobile-only {
      text-align: center;
    }

    strong {
      font-weight: 500;
      font-size: 20px;
      color: var(--rq-color-accent-text);
    }
  }

  &__social-links {
    @include flex--align-center--justify-space-between;
    column-gap: $default-column-gap;

    svg {
      @include gray-to-primary-blue-icon;
    }
  }
}
